<div class="form-header">
<h1>Editing Workout</h1>
</div>

<%= render 'form', workout: @workout %>

<div class="back-button">
<%= link_to 'Back', workouts_path, class: "waves-effect waves-light btn-small" %>
</div>
